html, body {
    background-color: #f9f8f7;
    margin: 0;
    box-sizing: border-box;
    height: 100%;
    padding: 10px;
    font-family: 'Risque', cursive;
}
.grid-container {
    display: grid;
    height: 100%;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 100px 400px 100px;
    grid-gap: 5px;
}
.grid-container > * {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100%;
}

header {
    grid-column: 1 / -1;
    color: #303952;
}
footer {
    grid-column: 1 / -1;
    color: #303952;
    font-size: 0.8em;
}
.content-1 {
    grid-column: 2 / 7;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.content-2 {
    grid-column: 7 / 12;
    display: flex;
    flex-direction: column;
    text-align: center;
}